# Dependencies
node_modules/
*/node_modules/
Rewear-be/node_modules/
odoofe/node_modules/

# Environment Variables
.env
.env.local
Rewear-be/.env
odoofe/.env

# Build outputs
dist/
odoofe/dist/

# OS and Editor files
.DS_Store
*/.DS_Store
Thumbs.db
.vscode/
.idea/
tempCodeRunnerFile.js
*/tempCodeRunnerFile.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*